accelerate==1.13.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.77.0
anyio==4.12.0
async-generator==1.10
attrs==25.4.0
audioop-lts==0.2.2
Authlib==1.6.6
backoff==2.2.1
beautifulsoup4==4.14.3
bitarray==3.8.0
blinker==1.9.0
browser-use==0.11.7
browser-use-sdk==2.0.14
bubus==1.5.6
cdp-use==1.4.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
ckzg==2.1.5
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.10.1
combo==0.1.3
contourpy==1.3.3
coverage==7.13.5
cryptography==46.0.4
curl_cffi==0.13.0
cycler==0.12.1
cytoolz==1.1.0
dash==4.1.0
datasets==4.8.4
dill==0.4.1
discord==2.3.2
discord.py==2.7.1
discord-webhook==1.4.1
distro==1.9.0
docstring_parser==0.17.0
eth_abi==6.0.0b1
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.1
fastapi==0.135.2
filelock==3.25.2
Flask==3.1.3
fonttools==4.61.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2026.2.0
gitdb==4.0.12
GitPython==3.1.46
googleapis-common-protos==1.72.0
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.4
google-genai==1.61.0
greenlet==3.3.1
groq==1.0.0
grpcio==1.78.0
h11==0.16.0
h2==4.3.0
hexbytes==1.3.1
hf-xet==1.4.2
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.7.2
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.1
iniconfig==2.3.0
inquirerpy==0.3.4
instaloader==4.15
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
jsonpickle==4.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
llvmlite==0.46.0
lxml==6.0.2
markdownify==1.2.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mcp==1.26.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.19
multitasking==0.0.12
mypy_extensions==1.1.0
narwhals==2.19.0
nest-asyncio==1.6.0
networkx==3.6.1
numba==0.63.1
numpy==2.3.5
oauthlib==3.3.1
ollama==0.6.1
openai==2.16.0
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.3
parsimonious==0.10.0
peewee==4.0.2
pfzy==0.3.4
pillow==12.1.0
platformdirs==4.9.4
playwright==1.58.0
plotly==6.7.0
pluggy==1.6.0
poly_eip712_structs==0.0.1
portalocker==2.10.1
posthog==7.8.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.5
proto-plus==1.27.1
psutil==7.2.2
pyarrow==23.0.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pydantic-settings==2.12.0
pyee==13.0.0
Pygments==2.19.2
PyJWT==2.15.0
pyod==2.0.5
pyotp==2.9.0
pyparsing==3.3.1
pypdf==6.6.2
pysad==0.3.4
PySocks==1.7.1
pytest==9.0.2
pytest-asyncio==1.3.0
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
python-multipart==0.0.22
pytz==2025.2
pywin32==311
PyYAML==6.0.3
py_builder_signing_sdk==0.0.2
py_clob_client==0.34.1
py_order_utils==0.3.2
qdrant-client==1.17.1
referencing==0.37.0
regex==2025.11.3
reportlab==4.4.9
requests==2.32.5
requests-oauthlib==2.0.0
retrying==1.4.2
rich==14.3.2
rlp==4.1.0
rpds-py==0.30.0
rsa==4.9.1
ruff==0.15.7
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.16.3
screeninfo==0.8.1
selenium==4.40.0
sentence-transformers==5.3.0
sentry-sdk==2.58.0
setuptools==80.10.2
shellingham==1.5.4
six==1.17.0
smmap==5.0.3
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
sse-starlette==3.2.0
starlette==0.52.1
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tokenizers==0.22.2
toolz==1.1.0
torch==2.11.0+cu130
torchvision==0.26.0+cu130
tqdm==4.67.2
transformers==5.3.0
trio==0.32.0
trio-typing==0.10.0
trio-websocket==0.12.2
typer==0.24.1
types-certifi==2021.10.8.3
types-urllib3==1.26.25.14
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
uuid7==0.1.0
uv==0.10.4
uvicorn==0.40.0
verent==0.1.0
wandb==0.26.0
wcwidth==0.5.3
websockets==13.1
websocket-client==1.9.0
Werkzeug==3.1.8
wheel==0.46.3
wsproto==1.3.2
xxhash==3.6.0
yarl==1.22.0
yfinance==1.2.0
zipp==3.23.0
pip==25.3
